{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a type="button" href="{% url 'blog:create' %}" class="btn btn-lg btn-block btn-outline-primary">Добавить блог</a>
</div>>
{% for object in object_list %}
<div class="col-6">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            <div class="card-body">
                <a type="button" href="{% url 'blog:view' object.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                <a type="button" href="{% url 'blog:edit' object.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                <a type="button" href="{% url 'blog:delete' object.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
