{% extends 'catalog/base.html' %}
{% block title %}
<h1 align="center" style="color:Black">Shop</h1>
{% endblock %}
{% block content %}
<div class="col-12 mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    {% endif %}
</div>
{% for object in object_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.price }} $</h1>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary form-control mb-2">Купить</button>
            <a type="button" href="{% url 'catalog:product' object.pk %}" class="btn btn-lg btn-block btn-outline-primary form-control mb-2">О товаре</a>
            {% if perms.catalog.change_product %}
            <a type="button" href="{% url 'catalog:update_product' object.pk %}" class="btn btn-lg btn-block btn-outline-primary form-control mb-2">Редактировать</a>
            {% endif %}
        </div>
        <div class="card-footer">
            {% for version in object.version_set.all %}
            {% if version.is_active %}
            <small>
                Версия {{ version.version_number }}
            </small>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
