{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ form.as_p }}
                        {% if object %}
                        <button type="submit" class="btn btn-success">
                            Сохранить
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-success">
                            Создать
                        </button>
                        {% endif %}
                        {% if object %}
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="submit" class="btn btn-danger">
                            Удалить
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if object %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}